@{
    var role = Context.Session.GetString("Role");
    if (role == "Customer")
    {
        Layout = "_CustomerMenu";
    }
    else if (role == "Admin")
    {
        Layout = "_AdminMenu";
    }
    else
    {
        Layout = "_CommonMenu";
    }

}

@{
    ViewData["Title"] = "About us";
}


<link rel="stylesheet" href="~/css/aboutus.css">
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<body>

    <div class="grey-bg">
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <image class="aboutus" src="@Url.Content("~/images/aboutus_1.png")"</image>
                </div>
            </div>
        </div>
        <br><br>
    </div>

    <div>
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <image class="aboutus_intro" src="@Url.Content("~/images/snap.png")"</image>
                </div>

                <div class="col-sm-12">
                    <p class="aboutus_text">
                        We started out as a dream. We had a dream: To bring about the best services in the skies. From there, our founder assembled a crew of people who were skilled and excellent in providing services to people. The
                        crew underwent training for providing services in an airplane for 3 months. On 1st of May, 2015, the crew took flight for the very first time, making it the debut of the Lion City Airlines. From that day on, we made a promise to
                        uphold and follow through the pledge of the Lion City Airlines:
                        <br><br> “Be efficient, be kind and be confident. We will bring our passengers to greater heights and destinations with comfort, elegance and style.”
                    </p>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>

</body>
