@{
    var role = Context.Session.GetString("Role");
    if (role == "Customer")
    {
        Layout = "_CustomerMenu";
    }
    else if (role == "Admin")
    {
        Layout = "_AdminMenu";
    }
    else
    {
        Layout = "_CommonMenu";
    }
}

@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="container text-center">
        <form id="booking-form" class="booking-form" method="POST">
            <h2 id="welcome_title">Hi, Where would you like to go?</h2>
            <br />
            <div class="form-group">

                <div class="form-destination">
                    <label for="destination"><h6>Departure</h6></label>
                    <input type="text" id="destination" name="destination" placeholder="Departure" />
                </div>

                <div class="form-destination">
                    <label for="destination"><h6>Destination</h6></label>
                    <input type="text" id="destination" name="destination" placeholder="Destination" />
                </div>

                <div class="form-date-from form-icon">
                    <label for="date_from"><h6>Departure Date</h6></label>
                    <input type="date" id="date_from" class="date_from" placeholder="Pick a date" />
                </div>

                <div class="form-date-to form-icon">
                    <label for="date_to"><h6>Arrival Date</h6></label>
                    <input type="date" id="date_to" class="date_to" placeholder="Pick a date" />
                </div>
                <br />

            </div>

            <div class="form-submit">
                <input type="submit" id="submit" class="submit" value="Search" />
            </div>
        </form>
    </div>
</body>

</html>