@model web2020apr_p01_assignment_group5.Models.BookingModel
@{
    var role = Context.Session.GetString("Role");
    var name = Context.Session.GetString("CustomerName");
    if (role == "Customer")
    {
        Layout = "_CustomerMenu";
    }
    else if (role == "Admin")
    {
        Layout = "_AdminMenu";
    }
    else
    {
        Layout = "_CommonMenu";
    }
}

@{
    ViewData["Title"] = "Home";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="container text-center">
        <form asp-action="ViewAvailableFlight" asp-controller="Customers" id="booking-form" class="booking-form" method="GET">
            <h2 id="welcome_title">Hi<span style="color:black;"> @name</span>, Welcome to Lion City Airlines!</h2>
            <br />
           
            <div class="form-submit">
                <input type="submit" id="submit" class="submit" value="View Flights" />
            </div>
        </form>
    </div>

    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");
    </script>
    <script>
        var message = @Html.Raw(Json.Serialize(TempData["alert"]));

        if (message) {
            alert(message);
        }
    </script>
</body>
