@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/homepage.css">

<body>

    <div class="container text-center">    
        <div class="row content">

            <div class="col-sm-6 text-centre welcome">
                @{
                    string userId = "Anonymous";
                    string userRole = "Unknown";
                    string loginDT = "just now";
                    if (Context.Session.GetString("LoginID") != null)
                    {
                        userId = Context.Session.GetString("LoginID");
                    }
                    if (Context.Session.GetString("Role") != null)
                    {
                        userRole = Context.Session.GetString("Role");
                    }
                    if (Context.Session.GetString("LoginDT") != null)
                    {
                        loginDT = Context.Session.GetString("LoginDT");
                    }
                }
                <h1>
                    Welcome,
                    <br />@userId
                    <br />(Role: @userRole)!
                </h1>
                <p>You have logged in since @loginDT</p>
            </div>

            <div class="col-sm-6 text-centre">
                <div class="welcome_title">
                    <img id="admin-image" src="@Url.Content("~/images/admin-home-image.jpg")">
                </div>
                
            </div>

        </div>
    </div>

    <div class="container text-centre">
        <div class="row content">

            <div class="col-sm-6 admin-content">
                <h3 class="task-title">Flight Scheduling</h3>
                <hr>
                <p><a href="#" style="color:black">Create Flight Route</a></p>
                <p></p>
                <p><a href="#" style="color:black">View Flight Route & Schedule</a></p>
                <p></p>
                <p><a href="#" style="color:black">Create Flight Schedule</a></p>
                <p></p>
                <p><a href="#" style="color:black">Update Flight Schedule Status</a></p>
                <p></p>
            </div>

            <div class="col-sm-6 admin-content">
                <h3 class="task-title">Flight Personnel</h3>
                <hr>
                <p><a href="~/Admin/CreatePersonnel" style="color:black">Create Flight Personnel Record</a></p>
                <p></p>
                <p><a href="~/Admin/ViewPersonnels" style="color:black">View All Flight Personnel & Assigned Schedule</a></p>
                <p></p>
                <p><a href="#" style="color:black">Assign Flight Schedule to Personnel</a></p>
                <p></p>
                <p><a href="#" style="color:black">Update Flight Personnel Status</a></p>
                <p></p>
            </div>

        </div>
    </div>
    
</body>

</html>