@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container text-center">    
        <div class="row content">

            <div class="col-sm-6 text-centre welcome">
                @{
                    string userId = "Anonymous";
                    string userRole = "Unknown";
                    string loginDT = "just now";
                    if (Context.Session.GetString("LoginID") != null)
                    {
                        userId = Context.Session.GetString("LoginID");
                    }
                    if (Context.Session.GetString("Role") != null)
                    {
                        userRole = Context.Session.GetString("Role");
                    }
                    if (Context.Session.GetString("LoginDT") != null)
                    {
                        loginDT = Context.Session.GetString("LoginDT");
                    }
                }
                <h1>
                    Welcome,
                    <br />@userId
                    <br />(Role: @userRole)!
                </h1>
                <p>You have logged in since @loginDT</p>
            </div>

            <div class="col-sm-6 text-centre">
                <div class="welcome_title">
                    <img id="admin-image" src="@Url.Content("~/images/admin-home-image.jpg")">
                </div>
                
            </div>

        </div>
    </div>

    <div class="container text-centre">
        <div class="row content">

            <div class="col-sm-6 admin-content">
                <h3 class="task-title">Flight Scheduling</h3>
                <hr>
                <p><a href="#" style="color:black">Create Flight Route</a></p>
                <p></p>
                <p><a href="#" style="color:black">View Flight Route & Schedule</a></p>
                <p></p>
                <p><a href="#" style="color:black">Create Flight Schedule</a></p>
                <p></p>
                <p><a href="#" style="color:black">Update Flight Schedule Status</a></p>
                <p></p>
            </div>

            <div class="col-sm-6 admin-content">
                <h3 class="task-title">Flight Personnel</h3>
                <hr>
                <p><a href="#" style="color:black">Create Flight Personnel Record</a></p>
                <p></p>
                <p><a href="~/Admin/ViewPersonnels" style="color:black">View All Flight Personnel & Assigned Schedule</a></p>
                <p></p>
                <p><a href="#" style="color:black">Assign Flight Schedule to Personnel</a></p>
                <p></p>
                <p><a href="#" style="color:black">Update Flight Personnel Status</a></p>
                <p></p>
            </div>

        </div>
    </div>
    
</body>

</html>