@model web2020apr_p01_assignment_group5.Models.FlightSchedule

@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "Update Flight Schedule Status";
}

<link rel="stylesheet" href="~/css/update.css" />

<body>
    <div class="container text-center" style="margin-top:56px">

        <div class="row content">
            <h1 class="title">Update Flight Schedule Status</h1>
            <hr />
        </div>

        <form asp-action="UpdateFlightScheduleStatus" method="post">
            <fieldset class="FormContent">

                <legend>Update Flight Schedule Status</legend>

                <div class="form-group row">
                    <label asp-for="ScheduleId"
                           class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="ScheduleId" readonly
                               class="form-control-plaintext" />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Status"
                           class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <select asp-for="Status" asp-items="@(new SelectList(@ViewData["StatusList"] as List<String>, "Status"))"
                            class="form-control"></select>
                    </div>
                </div>

                <div>
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>

                <br />

                <div>
                    <a asp-action="ViewFlightSchedules">Back to List</a>
                </div>

            </fieldset>
        </form>

    </div>

</body>

