<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/images/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="~/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-md bg-light navbar-light navbar-inverse fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-header align">
            <img id="logo" src="@Url.Content("~/images/logo.png")">
            <a class="navbar-brand">Lion City Airlines</a>
        </div>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/Index" style="color:black">Home</a>
                </li>
                @{
                    if (Context.Session.GetString("Role") == "Admin")
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:black">
                                Flight Scheduling
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Admin/CreateFlightRoute">Create Flight Route</a>
                                <a class="dropdown-item" href="~/Admin/ViewFlightSchedules">View Flight Route & Schedule</a>
                                <a class="dropdown-item" href="~/Admin/CreateFlightSchedule">Create Flight Schedule</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:black">
                                Flight Personnel
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Admin/CreatePersonnels">Create Flight Personnel Record</a>
                                <a class="dropdown-item" href="~/Admin/ViewPersonnels">View All Flight Personnels</a>
                                <a class="dropdown-item" href="~/Admin/AssignPersonnel">Assign Personnels to Flight Schedule</a>
                            </div>
                        </li>
                    }
                }

            </ul>
            @{
                String staffName = "Nobody";
                if (Context.Session.GetString("LoginID") != null)
                {
                    staffName = Context.Session.GetString("StaffName");
                }
            }
            <ul class="nav navbar-nav ml-auto">
                <li><span style="color:#5F6169">@staffName</span></li>
                <li><a href="~/Home/Logout" style="color:#5F6169">Sign Out</a></li>
            </ul>

        </div>
    </nav>

    <div id="body_container" class="container-fluid">
            @RenderBody()
    </div>


</body>

</html>