@{
    Layout = "_CommonMenu";
    ViewData["Title"] = "Create Customer Profile";
}

@model web2020apr_p01_assignment_group5.Models.Customer

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Customer Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/createcustomerprofile.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="container-contact100">

        <div class="wrap-contact100">
            <form asp-action="CreateCustomerProfile" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Create Customer Profile
                </span>

                <div class="wrap-input100 validate-input" data-validate="Please Type Your Full Name">
                    <span asp-validation-for="CustomerName" id="1label-input100"></span>
                    <input class="input100" asp-for="CustomerName" placeholder="Enter Your Full Name *">
                </div>

                <div class="wrap-input100">
                    <input class="input100" asp-for="Nationality" placeholder="Enter Your Nationality">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Select a Valid BirthDate">
                    <input class="input100" asp-for="BirthDate" placeholder="Select Your Date Of Birth">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter Your Email (YourName@gmail.com)">
                    <span asp-validation-for="EmailAddr" id="4label-input100" style="color:red"></span>
                    <input class="input100" asp-for="EmailAddr" placeholder="Enter Your Email *">
                </div>

                <div class="wrap-input100">
                    <input class="input100" asp-for="TelNo" type="tel" id="phone" placeholder="Enter Contact Number: e.g. +6598765432">
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            Register
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });

            $(".js-select2").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please select...") {
                        $('.js-show-service').slideUp();
                    } else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
            document.getElementById("body_container").classList.remove("container-fluid");
        })</script>
    <!--===============================================================================================-->
    <script src="~/js/main2.js"></script>
    <script>
        var message = @Html.Raw(Json.Serialize(TempData["alert"]));

        if (message) {
            for (i = 1; i < 6; i++) {
                var labelname = i + "label-input100";
                var element = document.getElementById(labelname);
                if ($(element).is(":visible")) {
                    $(element).addClass("validate-padding");
                }
            }
        }
    </script>
</body>

</html>