@model web2020apr_p01_assignment_group5.Models.Customer

@{
    Layout = "_CommonMenu";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="~/js/CreateCustomerProfile.js"></script>
</head>

<body>
    <br>
    <div class="container">
        <div class="column">
            <h2><b>Create Customer Profile</b></h2>
            <form asp-action="CreateCustomerProfile" id="Form">
                <fieldset class="FormContent">
                    <div class="form-group row">
                        <label asp-for="CustomerName"
                               class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-md-5">
                            <input asp-for="CustomerName" id="CustomerName" class="form-control" />
                            <span asp-validation-for="CustomerName"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="BirthDate"
                               class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-md-5">
                            <input asp-for="BirthDate" class="form-control" />
                            <span asp-validation-for="BirthDate"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Nationality"
                               class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-md-5">
                            <input asp-for="Nationality" class="form-control" />
                            <span asp-validation-for="Nationality"
                                  class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="TelNo"
                               class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-md-5">
                            <input asp-for="TelNo" class="form-control" />
                            <span asp-validation-for="TelNo"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="EmailAddr"
                               class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-md-5">
                            <input asp-for="EmailAddr" class="form-control" />
                            <span asp-validation-for="EmailAddr"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <input type="submit" value="Submit" onclick="acknowledge()" id="date" class="btn btn-primary" />
                            <input type="reset" value="Reset" onclick="myFunction()" class="btn btn-primary" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>
