@{
    Layout = "_CustomerMenu";
}

<!DOCTYPE html>
<html lang="en">


<head>
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container text-center">
        <div class="row content">
            <div class="col-sm-6 text-centre">
                <div class="welcome_title">
                    <img id="customer-image" src="@Url.Content("~/images/customer-home-image.jpg")">
                </div>
                <div class="option">
                    <a href="#" style="color:black">Book Air Ticket</a>
                    <a href="#" style="color:black">View Air Tickets Booked</a>
                    <a href="#" style="color:black">Change Password</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>