@{
    Layout = "_CustomerMenu";
    ViewData["Title"] = "FlightSchedule";
}
@model IEnumerable<web2020apr_p01_assignment_group5.Models.FlightSchedule>
@{ 
    DateTime now = DateTime.Now;
    now = now.AddDays(1);
    DateTime datetime = new DateTime(now.Year,now.Month,now.Day);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/selectedflightschedule.css">
    <!--===============================================================================================-->
</head>
<body>
    @if (Model.ToList().Count > 0)
    {
        <div class="container-table100">            
            <div class="wrap-table100">
                <h3 class="PageTitle" style="text-align:center"><b>Available Flight Schedule</b></h3>
                <div class="table100" style="overflow-x:auto;">                   
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Flight Number</th>
                                <th class="column2">Departure DateTime</th>
                                <th class="column3">Arrival DateTime</th>
                                <th class="column4">Economy ClassPrice</th>
                                <th class="column5">Business ClassPrice</th>
                                <th class="column6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.Status == "Opened" && item.DepartureDateTime >= datetime)
                                {
                                    <tr>
                                        <td class="column1">@item.FlightNumber</td>
                                        <td class="column2">@item.DepartureDateTime</td>
                                        <td class="column3">@item.ArrivalDateTime</td>
                                        <td class="column4">$@item.EconomyClassPrice</td>
                                        <td class="column5">$@item.BusinessClassPrice</td>
                                        <td class="column6">
                                            <a asp-action="BookAirTicketsPersonalDetails" asp-controller="Customers"
                                               asp-route-id="@item.ScheduleId">Book</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color:red"><h2>No Available Flight Schedule Found!</h2></span>
    }
    <!--===============================================================================================-->
    <script>
        (function ($) {
            "use strict";
        })(jQuery);
    </script>

</body>
</html>