body {
    font-family: 'Montserrat', sans-serif;
}

hr {
    height: 2px;
    background-color: black;
    width: 100%;
}

.title {
    margin-top: 50px;
}

.formcontent {
    text-align: right;
}

.field {
    margin-bottom: 30px;
    text-align: right;
}

.formlabel {
    text-align: right;
    margin-right: 20px;
}