#customer-image {
    width: 100%;
    height: 100%;
}

#welcome_title {
    text-align: left;
    padding-top: 20px;
}

.button {
    width: 100px;
    height: 38px;
    background-color: black;
    border-color: black;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
}

.countrylist {
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border-color: black;
}

.task-title {
    background-color: black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}